.wholepage{
    background-image:url("./introPage.svg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1px;
}
.homepage{
    margin-top: 10%;
    margin-left: 10%;
}
.titlehomepage {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    color: darkblue;
}
.description{
    display: flex;
    text-align: left;
    width: 50%;
    color:#769FCD;
}
.login-btn{
    margin-top: 20px;
    display: flex;
    background-color: #769FCD;
    border: 0;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
}
.login{
    display: flex;
}
.login :hover{
    cursor: pointer;
}

