.Pagesearchpa .app-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 175px;
}


/*ช่องค้นหา*/
.Pagesearchpa input{
    position: relative;
    background: #F6F5F5;
    inline-size: 500px;
    border-radius: 30px;
    top: 10rem;
    height: 45px;
    border: 0;/*ขอบ*/
    color: #F1C376;/*สีตัวอักษรตอนกรอก*/

}

.Pagesearchpa input:focus {
    outline: none; /* ลบเส้นขอบ */
}

.Pagesearchpa input:not(:placeholder-shown) {
    padding-left: 20px; /* เมื่อมีข้อมูลอยู่ใน input ให้ตัวอักษรห่างจากด้านซ้าย 20px */
}

.Pagesearchpa input:placeholder-shown{
    color: #F1C376;
}

.Pagesearchpa .app-search img{
    position: absolute;
    right: 22rem;
    top: 10.7rem;
    height: 25px;
    width: auto;
}

.Pagesearchpa div.app-search button{
    position: absolute;
    display: block;
    background: #F1C376;
    padding: 20px 40px;
    border-radius: 20px;
    right: 14rem;
    top: 10.2rem;
    border: 0;
}

.Pagesearchpa div.app-search button:hover{/*ดักจับเหต์การเมื่อเอาเมาส์วาง*/
    transform: scale(0.995);/*ย่อเมื่อเมาส์วางดูรูปแบบจากtiktok*/   

}

.Pagesearchpa div.app-search button:active {/*ดักจับเหต์การเมื่อเอาเมาส์กด*/
    background-color: #a6d1a0;
    transform: scale(0.995);
  }

  .Pagesearchpa div.app-search button img{
    position: absolute;
    border-radius: 20px;
    border: 0;
    z-index: 5;
    left: 25px;
    width: 30px;
    height: auto;
    top: 4px;
}/*ช่องค้นหา*/



