.BoxDentiss .box{
    position: relative;
    display: block;
    background: #ffffff;
    border-radius: 15px;
    height: 150px;
    width: 100%;
    box-shadow: 0 2px 2px 1px rgba(159, 162, 177, 0.8);/*เงา*/
    border: 0;
}

.BoxDentiss button.edit{
    position: relative;
    color: #ffffff;
    display: block;/*30-32ทำให้อยู่ตรงกลาง*/
    align-items: center;
    justify-content: center;
    top: 75px;
    left: 4px;
    width: 90%;
    height: 30px;
    background: #F7D08A;
    bottom: 0;
    border-radius: 30px;
    border: 0;
}

.BoxDentiss button.box:hover{/*ดักจับเหต์การเมื่อเอาเมาส์วาง*/
    transform: scale(0.995);/*ย่อเมื่อเมาส์วางดูรูปแบบจากtiktok*/   

}

.BoxDentiss button.box:active {/*ดักจับเหต์การเมื่อกด*/
    background-color: #A0C49D;
    transform: scale(0.995);
  }

.BoxDentiss .box div.edit{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.BoxDentiss .edit:hover{/*ดักจับเหต์การเมื่อเอาเมาส์วาง*/
    transform: scale(0.995);/*ย่อเมื่อเมาส์วางดูรูปแบบจากtiktok*/   

}

.BoxDentiss .edit:active {/*ดักจับเหต์การเมื่อกด*/
    background-color: #A0C49D;
    transform: scale(0.995);
  }

.BoxDentiss .box .imgdentis{
    width: 80px;
    margin:20px 0px 0px 20px;
    border-radius: 50px;
}

.BoxDentiss .plus{
    width: 80px;
    height: auto;
}

.BoxDentiss h5{
    color: #A0C49D;
    position: absolute;
    font-size: 12px;
    top: 28px;
    left: 140px;
}


