.BoxDentiss .box{
    position: relative;
    display: block;
    background: #ffffff;
    border-radius: 15px;
    height: 150px;
    width: 100%;
    box-shadow: 0 2px 2px 1px rgba(159, 162, 177, 0.8);/*เงา*/
    border: 0;
}

.BoxDentiss button.box:hover{/*ดักจับเหต์การเมื่อเอาเมาส์วาง*/
    transform: scale(0.995);/*ย่อเมื่อเมาส์วางดูรูปแบบจากtiktok*/   

}

.BoxDentiss button.box:active {/*ดักจับเหต์การเมื่อกด*/
    background-color: #A0C49D;
    transform: scale(0.995);
  }

.BoxDentiss .box .edit{
    position: absolute;
    color: #ffffff;
    display: flex;/*30-32ทำให้อยู่ตรงกลาง*/
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background: #E1ECC8;
    bottom: 0;
    border-radius: 30px;
    border: 0;
}

.BoxDentiss .edit:hover{/*ดักจับเหต์การเมื่อเอาเมาส์วาง*/
    transform: scale(0.995);/*ย่อเมื่อเมาส์วางดูรูปแบบจากtiktok*/   

}

.BoxDentiss .edit:active {/*ดักจับเหต์การเมื่อกด*/
    background-color: #A0C49D;
    transform: scale(0.995);
  }

.BoxDentiss .box .imgdentis{
    width: 80px;
    margin:20px 0px 0px 20px;
    border-radius: 50px;
}

.BoxDentiss .plus{
    width: 80px;
    height: auto;
}

.BoxDentiss h5{
    color: #A0C49D;
    position: absolute;
    font-size: 10px;
    top: 18px;
    left: 120px;
}



