.buttonchangedoc{
    position: absolute;
    height: 35px;
    width: 70px;
    left: 90px;
    top: 90px;
    background: #E1ECC8;
    border-radius: 20px;
    border: none;
}

.buttonchangedoc:hover{/*ดักจับเหต์การเมื่อเอาเมาส์วาง*/
    transform: scale(0.995);/*ย่อเมื่อเมาส์วางดูรูปแบบจากtiktok*/   

}

.buttonchangedoc:active {/*ดักจับเหต์การเมื่อเอาเมาส์กด*/
    transform: scale(0.995);
  }

.buttonchangedoc .circle{
    position: relative;
    height: 28px;
    width: 28px;
    left: 5px;
    top: 3px;
    background: #A0C49D;
    border-radius: 50px;
}

.buttonchangedoc p{
    position: relative;
    top: -23px;
    left: 3px;
    color: #A0C49D;
}

