.PageserchDoc .app-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 175px;
}


/*ช่องค้นหา*/
.PageserchDoc center input{
    position: relative;
    background: #F6F5F5;
    inline-size: 500px;
    border-radius: 30px;
    top: 10rem;
    height: 45px;
    border: 0;/*ขอบ*/
    color: #A0C49D;/*สีตัวอักษรตอนกรอก*/

}

.PageserchDoc input:focus {
    outline: none; /* ลบเส้นขอบ */
}

.PageserchDoc input:not(:placeholder-shown) {
    padding-left: 20px; /* เมื่อมีข้อมูลอยู่ใน input ให้ตัวอักษรห่างจากด้านซ้าย 20px */
}

.PageserchDoc input:placeholder-shown{
    color: #A0C49D;
}

.PageserchDoc .app-search img{
    position: absolute;
    right: 39rem;
    top: 10.7rem;
    height: 25px;
    width: auto;
}





